

.AboutTabContainer {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: end;
}

.AboutTab {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-radius: 10px 10px 0px 0px;
    font-size: 32px;
    font-weight: bold;
}

/* .AboutTab:hover {
    cursor: pointer;
    background-color: blueviolet;
} */

.AboutContainer {
    width: 100%;
    height: fit-content;
    border: 5px solid black;
    border-radius: 0px 25px 25px 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.InfoRow {
    width: 95%;
    margin: 10px auto 0px;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.BlurbContainer {
    height: fit-content;
    min-height: 160px;
    width: 70%;
    /* background-color: aquamarine; */
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px 20px 5px 0px;
}

.BlurbHeader {
    height: fit-content;
    width: fit-content;
    padding: 3px 6px;
    font-size: 21px;
    font-weight: bold;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-radius: 0px 0px 5px 0px;
}

.BlurbContent {
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}


.ResumeContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.ResumeContainer div {
    margin: 5px;
    cursor: pointer;
}

.LeftSide{
    width: 50%;
    height: fit-content;
}
.RightSide{
    width: 50%;
    height: fit-content;
}

.Work {
    width: 95%;
    height: fit-content;
    min-height: 75px;
    margin-bottom: 10px;
    border: 5px solid black;
    border-radius: 5px;
}

.WorkHeader {
    margin: 5px;
    font-size: 32px;
    font-weight: bold;
}

.WorkInfo {
    width: 95%;
    margin: 20px auto;
}

.CompanyAndDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Company {
    font-size: 28px;
    font-weight: bold;
}

.Date {
    font-size: 24px;
    font-weight: bold;
}

.Role {
    width: 90%;
    font-size: 21px;
    font-weight: bold;
    margin-left: 25px;
}

.ExtraRow {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 5px;
    flex-wrap: wrap;
    /* margin-bottom: 5px; */
}

.Label {
    padding: 2px 3px;
    border: 5px solid black;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: bold;
}

@media (max-width: 925px) {
    .InfoRow {
        flex-direction: column;
    }

    .BlurbContainer,
    .LeftSide,
    .RightSide,
    .Work {
        width: 100%;
    }

    .ResumeContainer {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .BlurbHeader {
        width: fit-content;
    }
}

@media (max-width:500px) {

    .ResumeContainer {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .AboutTab {
        width: 50%;
    }

    .AboutTabContainer {
        justify-content: space-between;
    }

    .AboutContainer {
        min-width: 325px;
        border-radius: 0px 0px 25px 25px;
    }

    .BlurbHeader {
        width: 100%;
        border-right: 0px;
        border-radius: 0px;
    }

    .Company {
        font-size: 21px;
        width: 60%;
    }

    .Date {
        font-size: 18px;
        text-align: end;
        width: 40%;
    }
}