.LinkContainer {
    margin: 5px auto;
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* border: 5px solid black;
    border-radius: 50px;
    padding-bottom: 25px;
    box-shadow: 10px 20px rgba(121, 121, 121, 0.46); */
}

.LinkBtn {
    width: 100%;
    max-width: 400px;
    min-width: 325px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid black;
    border-radius: 5px;
    margin-top: 25px;
    text-decoration: none;
    color: black;
}

.LinkBtn:hover {
    cursor: pointer;
    background-color: rgba(137, 43, 226, 0.5);
}

.LinkText {
    font-size: 42px;
    font-weight: bold;
}

.LinkHeader {
    margin: 5px auto;
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.NameHeader {
  font-size: 50px;
}
